*{
    font-family: 'Open Sans', sans-serif;
}
/*Header styls*/
.header{
    text-align: right;
    background-image: url(../images/banner/banner3.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
.h1{
    margin-right: 331px;
    margin-top: 0px;
    color: rgba(255, 255, 255, 1);
    font-size: 65px;
    font-weight: 700;
    padding-top: 350px;
}
.header-discription{
    text-align: right;
    color:rgba(255, 255, 255, 1);
    font-weight: 400;
    font-size: 26px;
    padding: 0px 331px 50px 1200px;
}
.contact-us{
    font-weight: 600;
    font-size: 20px;
    border-radius: 5px;
    background-color: #FFFFFF;
    border-color: #FFFFFF;
    color: rgba(0, 95, 172, 1);
    margin-right: 331px;
    margin-bottom: 350px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
/*Main Content styles*/
.main-img{
    display: flex;  
}
img{
    margin-left: 360px;
}
.main-title{
    color:  rgba(21, 20, 20, 1);
    font-weight: 700;
    font-size: 40px;
    margin: 170px 700px 0px 100px;
}
.main-disc{
    font-weight: 400;
    font-size: 16px;
    color: rgba(68, 67, 67, 1);
    margin: 0px 700px 0px 100px;
}
.tik{
    color: blue;
}
/*My plan part style*/
.my-plan{
    color: Dark 01;
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    margin-top: 150px;
}
.skill-img{
    display: flex;
    padding-top: 50px;
    padding-bottom: 15px;
}
.skill-title{
    display: flex;
    padding-bottom: 0px;
    font-weight: 700;
    font-size: 30px;
}
.web{
    padding-left: 200px; 
}
.js{
    padding-left: 170px; 
}
.sh{
    padding-left: 205px; 
}
.eco{
    padding-left: 200px;
}
.skill-disc{
    display: flex;
    font-weight: 500;
    font-size: 25px;
    color: rgba(115, 114, 114, 1);

}
.develop{
    padding-left: 310px;
}
.learn{
    padding-left: 300px;
}
.don{
    padding-left: 310px;
}
.dev{
    padding-left: 290px;
}
/* img-2*/
.img-head{
    color:  rgb(245, 245, 245);
    font-weight: 700;
    font-size: 40px;
}
.call-now{
    color: rgba(0, 95, 172, 1);
    padding: 20px;
    border-radius: 5px;
    border-color: rgb(245, 245, 245);
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 30px;
}
.img-2{
    background-image: url(../images/watch.png);
    background-repeat: no-repeat;
    margin-left: 510px;
    margin-top: 200px;
    height: 100%;
    width: 1200px;
}
.img-style{
    padding-left: 100px;
}
/*Footer style*/

.footer{
    display: flex;
    background-color: black;
    margin-top: 100px;
    padding: 200px;
    padding-right: 800px;
}
.f-item{
    margin-left: 300px;
}
.f-header{
    color: rgba(248, 248, 248, 1);
    font-weight: 700;
    font-size: 45px;
}
.f-disc{
    color: rgba(248, 248, 248, 1);
    font-weight: 400px;
    font-size: 16px;
    margin-top: 10px;
    margin-right: 300px;
}  
.email{
    color: rgba(248, 248, 248, 1);
    font-weight: 400;
    font-size: 16px;
} 
.number{
    color: rgba(248, 248, 248, 1);
    font-weight: 400;
    font-size: 16px;
}
.form{
    margin-right: 500px;
}
.sub1{
    color:rgba(255, 255, 255, 1);
    font-weight: 600;
    font-size: 25px;
}
.sub2{
   color: rgba(255, 255, 255, 1);
   font-weight: 600;
   font-size: 20px;
   border-radius: 5px;
   padding: 18px 22px;
   background-color: rgba(0, 95, 172, 1);
   margin-top: 20px;
}
.email-inpute{
    border-radius: 5px;
    border-color: #FFFFFF;
    border-style: solid;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.enter-email{
    font-weight: 400px;
    font-size: 18px;
    height: 50px;
    width: 300px;
    border-radius: 5px;
    border-color: #FFFFFF;
    background-color: black;
}
